# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/
.venv/

# Spark output data
data/clean/
data/curated/

# Logs
logs/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store
